# IDE
.vscode/

# Common Python Ignores
__pycache__/
.mypy_cache/
.pytest_cache/
build/
*.egg-info
.venv

.coverage

# Image Viewer
ERROR.log
minifier_failure.py.example

# Image Viewer Compilation
tmp*/
nuitka/

# Nuitka
*.bin
*.exe
*.cmd
*.build/
*.dist/
compilation-report.xml
nuitka-crash-report.xml

# Compiled Python Extensions
*.pyd
*.so

libturbojpeg.*

*.ipynb
test.py
