[MAIN]

ignore=tmp
ignore-paths=.+build/.*.py,.*.pyi

[MESSAGES CONTROL]

disable=import-error,  # Lots of false flags here
        import-outside-toplevel,  # Sometimes needed in this repo
        protected-access,  # Needed to access image draws
        too-few-public-methods,  # Classes used as response types
        no-name-in-module,  # Getting these due to compiled modules
        line-too-long,      # Checked by flake
        unused-import,      # Checked by flake
        ungrouped-imports   # Checked by isort

[DESIGN]
max-args=7
max-positional-arguments=7
