nuitka==4.0.1
personal-python-ast-optimizer @ git+https://github.com/jbjd/Python-Ast-Optimizer@v8.0.2
personal-compile-tools @ git+https://github.com/jbjd/Python-Compile-Tools@v2.0.1
personal-simple-tcl-minifier @ git+https://github.com/jbjd/Simple-Tcl-Minifier@v0.0.1
